body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.centered-image {
    max-width: 100%;
    height: auto;
}

#calculate-worth {
    margin-top: 20px;
}

#current-worth {
    font-weight: bold;
}
